<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e31b26">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ "/assets/main.css?v6" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- Social share -->
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{{page.description}}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:image" content="{{site.url}}{{page.url|remove:'index.html'|remove:".html"}}/{{page.social_image}}" />
  </head>

  <body>
    <div class="site-wrapper">
      <nav>
        <ul>
          <li><a href="/" {%if page.url == '/' %}class="current"{% endif %}>L'association</a></li>
          <li><a href="/festival" {%if page.url contains 'festival' %}class="current"{% endif %}>Le festival</a></li>
          <li><a href="/actualites" {%if page.url contains 'actualites' %}class="current"{% endif %}>Les actualités</a></li>
        </ul>
      </nav>

      <header>
        <a href="/" class="root">
          <em>Les itinerrances</em>
          <span>des poissons rouges</span>
        </a>
      </header>

      <main aria-label="Content">
        {{ content }}
      </main>
    </div>

    <footer>
      <div class="site-wrapper">
        Association LES ITINERRANCES © 2019 &bull;
        <a href="https://www.facebook.com/Les-itinerrances-des-poissons-rouges-161997067177521/">Page&nbsp;Facebook</a> &bull;
        Contact&nbsp;: &#108;&#101;&#115;&#105;&#116;&#105;&#110;&#101;&#114;&#114;&#097;&#110;&#099;&#101;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109; &bull; Valence&nbsp;(Drôme)
      </div>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22716294-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>

</html>
